<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kalvin.kvf.modules.test.mapper.ProjectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.kalvin.kvf.modules.test.entity.Project">
        <id column="id" property="id" />
        <result column="projectName" property="projectName" />
        <result column="projectHost" property="projectHost" />
        <result column="projectDesc" property="projectDesc" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       id, projectName, projectHost, projectDesc
    </sql>

    <select id="selectProjectList" resultType="com.kalvin.kvf.modules.test.entity.Project">
        select <include refid="Base_Column_List" /> from test_project
        <trim prefix="where" prefixOverrides="and">
            <if test="project.projectName != null and project.projectName != ''">
                and projectName like concat(#{project.projectName}, "%")
            </if>
            <if test="project.projectHost != null and project.projectHost != ''">
                and projectHost like concat(#{project.projectHost}, "%")
            </if>
            <if test="project.projectDesc != null and project.projectDesc != ''">
                and projectDesc like concat(#{project.projectDesc}, "%")
            </if>
        </trim>
    </select>

</mapper>
